@model IEnumerable<CustomerManagementERP.Models.Customer>

@{
    ViewData["Title"] = "Customer List";
}

@* @if(TempData["SuccessMessage"]!=null) *@
@* { *@
@*     <div class="alert alert-success alert-dismissible fade show" role="alert"> *@
@*         @TempData["SuccessMessage"] *@
@*         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> *@
@*     </div> *@
@* } *@

<h2>@ViewData["Title"]</h2>

@* <table class="table table-striped table-hover"> *@
@*     <thead class="table-dark"> *@
@*         <tr> *@
@*             <th>Id</th> *@
@*             <th>Name</th> *@
@*             <th>Address</th> *@
@*             <th>Phone</th> *@
@*             <th>Credit Limit</th> *@
@*             <th>Business Start Date</th> *@
@* 			<th>Actions</th> *@
@*         </tr> *@
@*     </thead> *@

@*     <tbody> *@
@*         @foreach(var cus in Model) *@
@*         { *@
@*             <tr id="customerRow-@cus.CustomerId">   *@
@*                <td>@cus.CustomerId</td>   *@
@*                <td>@cus.Name</td>   *@
@*                <td>@cus.Address</td>   *@
@*                <td>@cus.Phone</td>   *@
@*                <td>@cus.CreditLimit</td> *@
@*                 <td>@cus.BuisenesStartDate.ToShortDateString()</td> *@

@*                 <td asp-action="Details" asp-route-id="@cus.CustomerId" asp-action="Details" class="btn btn-info btn-sm">Details</td> *@
@*                 <td asp-action="Edit" asp-route-id="@cus.CustomerId" asp-action="Edit" class="btn btn-info btn-sm">Edit</td> *@
@*                 <td asp-action="Delete" asp-route-id="@cus.CustomerId" asp-action="Delete" class="btn btn-info btn-sm">Delete</td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Credit Limit</th>
            <th>Business Start Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.CreditLimit</td>
                <td>@item.BuisenesStartDate</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Customer</a>